script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
script(src='https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js')
script(src='http://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.24.0/DPlayer.min.js')
