html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block title
    include ../includes/style
    include ../includes/script
  body
    block header
    block footer


